/* header */
body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, p, ul, ol, li, body {
        margin:0;
        padding:0;
    }

*, *::before, *::after {
    box-sizing: border-box;
}

a {
    transition: all 0.3s ease-out;
}

.container {
  /*  width: 1100px; */
      margin: auto;
}
/* Responsiv - mobil výška*/
@media screen and (max-width: 479px) {
    .container {width: 92%;}
}
/* Responsiv - mobil šířka*/
@media screen and (min-width: 480px) {
    .container {width: 95%;}
}
/* Responsiv - tablet výška*/
@media screen and (min-width: 740px) {
    .container {width: 95%;}
}
/* Responsiv - tablet šířka*/
@media screen and (min-width: 960px) {
    .container {width: 95%;}
}
/* Responsiv - desktop*/
@media screen and (min-width: 1200px) {
    .container {width: 1100px;}
}

.headerMenu {
    background: rgba(72, 52, 42, 0.7);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.headerMenu .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu ul li {
    display: inline-block;
}
.menu ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    padding: 34px 10px;
    display: block;
}

.menu ul li a:hover{
    background: rgba(255, 255, 255, 0.3);
}

.logo {
    color: #fff;
    text-decoration: none;
    font-size: 50px;
    font-family: 'Kaushan Script', cursive;
    margin-bottom: 10px;
}
/* Responsive - menu*/
@media screen and (max-width: 850px) {
    .headerMenu .container {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    .menu ul li {
        display: block;
        text-align: center;
    }
    .menu ul li a {
        padding: 7px;
        border-radius: 4px;
        margin: 2px 0;
    }
}

@media screen and (max-width: 380px) {
    .logo {
        font-size: 40px;
    }
}

header {
    background: url("../img/header.jpg") center center no-repeat;
    background-size: cover;
}

.headerPrima {
    text-align: center;
    color: #fff;
    font-family: 'Kaushan Script', cursive;
    padding: 335px 0 45px;
}

.headerPrimaText {
    font-size: 100px;
    border-bottom: 1px solid #fff;
    display: inline-block;
    margin-bottom: 20px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.headerPrima p a {
    color: #fff;
    font-size: 30px;
}

.headerPrima p a i {
    width: 40px;
    margin-top: 15px;
}

.headerPrima p a .fa-facebook-square:hover {
    color: #3b5999;
}

.headerPrima p a .fa-instagram-square:hover {
    color: #e4405f;
}

.headerPrima p a .fa-youtube-square:hover {
    color: #cd201f;
}

/*Responsive - header*/
@media screen and (max-width: 700px) {
    .headerPrimaText {
       font-size: 13vw; 
    }
}

/*Section - příběh*/

.pribeh {
    padding: 70px 0px;
    text-align: center;
}

.pribehFirst {
    font-size: 14px;
    
}
h1, h2, h3, h4 {
    font-family: 'Kaushan Script', cursive;
}
h1 {
    font-size: 55px;
    padding-bottom: 40px;
    }

.pribeh p {
        line-height: 26px;
    }
.pribehNabidka {
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
}

.pribehBox {
    /* flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 300px; */
    flex: 0 1 300px
}
.pribehPopis h2{
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    display: inline-block;
    margin-bottom: 20px;
}
.pribehPopis p {
    line-height: 22px;
    padding-bottom: 15px;
}

.button {
    color: #000;
    text-decoration: none;
    border: 1px solid #000;
    padding: 10px 15px;
    border-radius: 4px;
    display: inline-block;
}

.button:hover {
    color: #A0785D;
    border-color: #A0785D;
}

.button:hover i {
    transform: translateX(5px);
}
/*Responsive - příběh*/

@media screen and (max-width: 1000px) {
    .pribehBox img {
       width: 90%; 
    }
    .pribehPopis p {
        padding: 0 10px 15px 10px;
    }
}

@media screen and (max-width: 850px) {
    .pribehNabidka {
       flex-direction: column; 
    }
    .pribehBox {
        display: flex;
        margin-bottom: 40px;
    }
    .pribehBox img {
        width: 300px;
        height: 200px;
    }
    .pribehPopis h2 {
        padding: 0 0 20px 0;
    }
}

@media screen and (max-width: 700px) {
    .pribehBox {
       flex-direction: column;
       align-items: center; 
    }
    .pribehBox img {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 400px) {
    .pribehBox img {
        width: 94%;
    }
    
}

/*Section - brown*/

.brown {
    background: #a0785d;
    display: flex;
    flex-wrap: wrap; 
}

.brownText {
    width: 50%;
    text-align: right;
    color: #fff;
    padding: 50px 20px;
    display: flex;
    justify-content: flex-end; /* text flex */
    position: relative; /* obedelnik */

}

.brown img {
    width: 50%;
}

.half {
    width: 70%;
}

.half h2 {
    padding-bottom: 50px;
    font-size: 30px;
}

.half p {
    line-height: 26px;
}

.half h2:nth-of-type(2) {
    padding-top: 50px;
}

.brownObdelnik {
    background: rgba(160, 120, 93, 0.5);
    height: 100%;
    width: 10%;
    width: 15%;
    position: absolute;
    top: 0;
    right: -15%;
}

/*Responsive - Brown*/

@media screen and (max-width: 1000px) {
    .half {
        width: 100%;
    }
    
}

@media screen and (max-width: 750px) {
    .brown img {
        display: none;
    }
    .brownText {
        width: 100%;
    }
   
}

/*Section - tip*/

.tip {
    padding: 70px 0;
}

.tip .container {
    display: flex;
    justify-content: space-between;
}

.tipObr {
    flex: 0 1 60%; 
    display: flex;
    justify-content: space-between;
}

.tipInfo {
    flex: 0 1 30%;
}

/* Rámeček */

.tipRamecek {
    background: #a0785d;
    width: 300px;
    height: 450px;
    position: relative;
}

.tipRamecek img {
    position: absolute;
    top: -20px;
    left: -20px;
}

.tipInfo h2 {
    font-size: 30px;
    padding-bottom: 50px;
}

.tipInfo {
    line-height: 26px;
    padding-bottom: 15px;
}

.tipInfo p {
    padding-bottom: 15px;
}

/*Responsive - Tip*/

@media screen and (max-width: 1110px) {
    .tipRamecek {
        width: 33%;
        height: 28vw;
    }
    .tipRamecek img {
        width: 100%;

    }
    .tipObr {
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 750px) {
    .tip .container {
        flex-direction: column;
    }
    .tipRamecek {
        background: none;
        margin-bottom: 150px;
    }
    .tipRamecek img {
        top:0;
        right: 0;
    }
      
}

@media screen and (max-width: 400px) {
    .tipRamecek {
        margin-bottom: 150px;
    }  
}


/*Footer*/

.pata {
    background: #805F49;
    padding: 80px 0;
    font-size: 14px;
    color: #fff;
}

.pataFB {
    background: gray;
    width: 340px;
    height: 155px;
}

.pata .container {
    display: flex;
    justify-content: space-between;
}

.pata h3 {
    padding-bottom: 25px;
}

.pata ul li {
    line-height: 24px;
    list-style-type: none;
}

.pata ul li a {
    text-decoration: none;
    color: #fff;
}

.pata ul li a:hover {
    color: #000;
    text-decoration: underline;
}

.pataMenu ul li::first-letter {
    text-transform: uppercase;
}

/*Responsive - Footer - FB*/

@media screen and (max-width: 750px) {
    .pataFB {
        display: none;
    }  
}

@media screen and (min-width: 750px) {
    .face {
        display: none;
    }  
}

@media screen and (max-width: 400px) {
    .pata .container {
        flex-direction: column;
        text-align: center;
    }
    .pataMenu, .pataKontakt, .pataDoba {
        margin-bottom: 60px;
    }  
}

.copy {
    padding: 15px;
    font-size: 14px;
}

.copy .container {
    display: flex;
    justify-content: space-between;
}

.copy a {
    text-decoration: none;
    color:  #555;
    font-weight: 700;
}

.copy a:hover {
    text-decoration: underline;
    color: #A0785D;
}

/*Responsive - Footer - Copyright*/

@media screen and (max-width: 650px) {
    .copyL a {
        display: block;
    }
    .copyL span {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .copy .container {
        flex-direction: column;
    }
    .copyR {
        margin-bottom: 15px;
    }
}

/*Responsive - Brown obdelník*/

@media screen and (max-width: 750px) {
    .brownObdelnik {
       display: none;
    }  
}


